.main{
  background-color: #f5b971;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  
}
.display {

  padding: 10px;
  margin: 10px;
  
}
.history{

  padding: 10px;
  margin: 10px;
}

